<?xml version="1.0" ?>

<robot name="meca_500_r3" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mecademic_gazebo)/urdf/meca_500_r3_gazebo_macro.xacro"/>	
  <xacro:meca_500_r3_gazebo prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="meca_base_link"/>
  </joint>
</robot>